.app__footer {
    position: absolute;
    width: 100vw;
    height: 20vh;
    left: 0rem;
    top: 270rem;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__footer-logo {
    position: relative;
    left: -5rem;
    top: -1rem;
}

.app__footer-logo img {
    width: 15rem;
    height: 5rem;
}

.app__footer-socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0rem;
}


.app__footer-socialMedia img {
    height: 2rem;
}

.app__footer-copywrite {
    position: relative;
    right: 0rem;
    top: 0rem;
    margin-left: 5rem;
}

.app__footer-line {
    display: none;
}

@media screen and (max-width: 1150px) {
    .app__footer-logo {
        margin-right: 5rem;
    }
.app__footer-logo {
    position: relative;
    left: 0rem;
    top: 0rem;
}
    body {
        overflow-x: hidden;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .app__footer {
        position: absolute;
        width: 100vw;
        left: 0rem;
        height: 15vh;
        top: 318rem;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
    }


    .app__footer-logo {
        display: none;
    }

    .app__footer-copywrite {
        display: none;
    }

    .app__footer-line {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #5C5C5C;
        display: flex;
        justify-content: center;
        margin: 4rem;

    }

    .app__footer-socialMedia {
        top: 4rem;
    }

    body {
        overflow-x: hidden;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}