@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 0px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.flex__center_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex__center_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.heading__montserrat {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;

    color: #F7F7F7;
}

.p__montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.2px;
    color: #F7F7F7;
}

.bg__orange {
    background: #FA4A0C;
    border: none;
}

.bg__transparent {
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

.app__appwork_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2rem;
    letter-spacing: 0.1px;
    color: #252B42;
    opacity: 0.8;
}

.app__button {

    padding: 16px 0px;
    width: 236px;
    height: 68px;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 45px 25px;
    border-style: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;

}

@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    body {
        overflow-x: hidden;
    }

    body::-webkit-scrollbar {
        display: none;
    }

}